[Unit]
Description=Wake on LAN
After=syslog.target network.target network-online.target multi-user.target

[Service]
Type=oneshot
ExecStart=/var/adm/bin/ether-wake.sh 192.168.11.11 00:de:ad:be:ef:00
RemainAfterExit=yes
